[default]
src = 'src'
out = 'out'
libs = ['lib']
remappings = ['ds-test/=lib/ds-test/src/']
solc_version = "0.8.12"
fuzz_runs = 1000



# See more config options https://github.com/gakonst/foundry/tree/master/config